.main-div{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-div{
    height: 63vh;
    width: 30vw;
    background-color: #F2AA4CFF;
    border-radius: 2px;
    border: 2px solid #101820FF;
}

.display{
    width: 30vw;
    height: 44vh; 
    /* overflow: scroll; */
    /* overflow-y: unset; */
}
.top{
    height: 17vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2px; */
    flex-direction: column;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh 0 0 0;
}
.add-btn{
    text-transform: capitalize;
    font-size: 3vw;
    padding: 0 1vw;
    margin: 0 1vw;
    background: #101820FF;
    color: #F2AA4CFF;
    cursor: pointer;
    border-radius: 1vh 1vw 1vh 1vw;
    border: 2px solid rgb(196, 132, 50);
}
.del-all-btn{
    text-transform: capitalize;
    font-size: 3vw;
    padding: 0 1vw;
    margin: 0 1vw;
    background: #101820FF;
    color: #F2AA4CFF;
    cursor: pointer;
    border-radius: 1vh 1vw 1vh 1vw;
    border: 2px solid rgb(196, 132, 50);
}
.data-input{
    width: 90%;
    font-size: 5vh;
    border-color: rgb(196, 132, 50);
    outline-color: rgb(196, 132, 50);
    color: rgb(196, 132, 50);
    text-transform: capitalize;
}

.item-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 3vh;
    margin-top: 3vh;
}

.f-div{
    width: 49%;
    font-size: 2vw;
}
.s-div{
    width: 23%;
    /* margin: 0 .5vw 0 0; */
}
.t-div{
    width: 23%;
    /* margin: 0 0 .5vw 0; */
}

.edit-btn{
    text-transform: capitalize;
    font-size: 1.5vw;
    padding: 0 .5vw;
    margin: 0 1vw;
    background: #F2AA4CFF;
    color: #101820FF;
    cursor: pointer;
    border-radius: .5vh 1vw .5vh 1vw;
    border: 2px solid rgb(36, 40, 44);
}
.del-btn{
    text-transform: capitalize;
    font-size: 1.5vw;
    padding: 0 .5vw;
    margin: 0 1vw;
    background: #F2AA4CFF;
    color: #101820FF;
    cursor: pointer;
    border-radius: .5vh 1vw .5vh 1vw;
    border: 2px solid rgb(36, 40, 44);
}

.update-div{
    width: 30vw;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

.u-f-div{
    width: 60%;
    /* margin-left: 2vw; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.u-f-div input{
    width: 100%;
    font-size: 2vw;
    outline: rgb(129, 88, 35);
}
.u-f-div input:focus{
    box-shadow: 2px 2px 10px 2px rgb(226, 139, 26);
}
.u-s-div{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-s-div button{
    font-size: 2vw;
    text-transform: capitalize;
    background: #F2AA4CFF;
    color: #101820FF;
    cursor: pointer;
    border-radius: .5vh 1vw .5vh 1vw;
    border: 2px solid rgb(36, 40, 44);
}
@media screen and (max-width: 700px) {
    .content-div{
        width: 70vw;

    }
    .top{
        width: 70vw;
    }
    .add-btn,.del-all-btn{
        font-size: 5vw;
    padding: 0 2vw;
    margin: 0 2vw;
    border-radius: 1vh 2vw 1vh 2vw;
    }
    .item-area{
        width: 70vw;
    }
    .f-div{
        font-size: 5vw;
    }
    .edit-btn,.del-btn{
        font-size: 3vw;
    padding: 0 2vw;
    margin: 0 2vw;
    border-radius: 1vh 2.5vw 1vh 2.5vw;
    }
    .display{
        width: 70vw;
    }
    .update-div{
        width: 70vw;
    }
    .u-f-div input{
        font-size: 4vw;
    }
    .u-s-div button{
        font-size: 4vw;
    }
  }


@media screen and (max-width: 500px) {
    .content-div{
        width: 90vw;

    }
    .top{
        width: 90vw;
    }
    .add-btn,.del-all-btn{
        font-size: 8.5vw;
    padding: 0 4.5vw;
    margin: 0 4.5vw;
    border-radius: 2vh 4.5vw 2vh 4.5vw;
    }
    .item-area{
        width: 90vw;
    }
    .f-div{
        font-size: 7vw;
    }
    .edit-btn,.del-btn{
        font-size: 5vw;
    padding: 0 1vw;
    margin: 0 4vw;
    border-radius: 1vh 4vw 1vh 4vw;
    }
    .display{
        width: 90vw;
    }
    .update-div{
        width: 90vw;
    }
    .u-f-div input{
        font-size: 6vw;
    }
    .u-s-div button{
        font-size: 6vw;
    }
}
